:root {
    --color-default: #555555;
    --background-default: #aaaaaa;

    --color-success: #318b22;
    --background-success: #92c197;

    --color-info: #3c6c8b;
    --background-info: #c2e3ff;

    --color-warning: #8a6d3b ;
    --background-warning: #e8dcb8;

    --color-danger: darkred ;
    --background-danger: #d99b9b;
}
/** MODAL *************************************************************************************************************/

div.modal div.modal-dialog {
    width: 80%;
}

div.modal div.modal-content {
    width: 100%;
}
div.modal div.modal-header {
    background-color: var(--header-background);
    color: white;
}

div.modal h2.modal-title{
    color: white;
}
button.close {
    color: white;
    opacity: 1;
    font-size: xx-large;
}

div.modal div.modal-footer {
    display: none;
}

/** ONGLET TABULATION *************************************************************************************************/

ul.nav-tabs {
    padding-left: 1rem;
}
.nav-tabs li a {
    background-color: var(--color-light);
    border: 1px solid #ddd;
}

.nav-tabs li a:hover {
    background-color: #f0f0f0;
    border-left-color: #286090;
    border-top-color: #286090;
    border-right-color: #286090;
}

/*li.pull-right {*/
/*    margin-right: 1rem;*/
/*}*/

/** ACTION et autre semantique de lien ********************************************************************************/

.action {
    width:25rem;
    margin:0.5rem;
}

button.btn.dropdown-toggle.btn-default{
    height: 3.5rem;
}

/** ALERT *************************************************************************************************************/

div.alert {
    margin: 0.1rem;
    padding: 0.5rem;
    /*text-align: justify;*/
}
div.alert-info {
    color: var(--color-info);
    border-color: var(--color-info);
    background: var(--background-info);
}

div.alert-warning {
    color: var(--color-warning);
    border-color: var(--color-warning);
    background: var(--background-warning);
}

div.alert-danger {
    color: var(--color-danger);
    border-color: var(--color-danger);
    background: var(--background-danger);
}

/** PANEL *************************************************************************************************************/

div.panel-heading {
    font-size: large;
    font-weight: bold;
    font-variant: small-caps;
    border-radius: 0;
}

div.panel-body {
    background: var(--footer-background);
    border-radius: 0;
}

div.panel-info {
    border-color: var(--color-info);
    border-left: 0.5rem var(--color-info) solid;
    border-radius: 0;
}

div.panel-info div.panel-heading {
    border-color: var(--color-info);
    color: var(--color-info);
    background: var(--background-info);
}

div.panel-info div.panel-body {
    border-color: var(--color-info);
}

div.panel-default {
    border-color: var(--color-default);
    border-left: 0.5rem var(--color-default) solid;
    border-radius: 0;
}

div.panel-default div.panel-heading {
    border-color: var(--color-default);
    color: var(--color-default);
    background: var(--background-default);
}

div.panel-default div.panel-body {
    border-color: var(--color-default);
}

div.panel-success {
    border-color: var(--color-success);
    border-left: 0.5rem var(--color-success) solid;
    border-radius: 0;
}

div.panel-success div.panel-heading {
    border-color: var(--color-success);
    color: var(--color-success);
    background: var(--background-success);
}

div.panel-success div.panel-body {
    border-color: var(--color-success);
}

div.panel a.btn {
    font-variant: none;
}
/** TITRE (A BOUGER ?) ************************************************************************************************/

body {
    font-size: 10pt;
}

h1 {
    font-size: 20pt;
}
h2 {
    font-size: 16pt;
}
h3 {
     font-size: 12pt;
 }
h4 {
    font-size: 11pt;
}

h1.title {
    /*color:#19bd81;*/
}

h1.title span {
    color:white;
}
h1.page-header {
    padding-left: 1rem;
}

h1.page-header strong {
    color: var(--color-info);
}

div.bloc {
    margin:1rem;
    padding: 1rem;
}
/** DL ****************************************************************************************************************/

dl.dl-horizontal dt {
    font-weight: 500;
    margin-right: 1rem;
    width: 20rem;
}


/*div.main-with-tab {*/
/*    background-color: white;*/
/*    -moz-border-radius-bottomleft: 5px;*/
/*    -moz-border-radius-bottomright: 5px;*/
/*    border-left: 1px solid #ddd;*/
/*    border-right: 1px solid #ddd;*/
/*    border-bottom: 1px solid #ddd;*/
/*    padding: 2rem;*/
/*}*/

/*h1 strong {*/
/*    font-weight: 500;*/
/*    color: #31708f;*/
/*}*/

/*!** AUTRE *************************************************************************************************************!*/

/*div.fichier-view-helper {*/
/*    border: 2px black dashed;*/
/*    border-radius: 1rem;*/
/*    padding: 1rem;*/
/*    margin: 1rem;*/
/*}*/



/*div.jumbotron#preecog {*/
/*    background-color: white;*/
/*}*/

/*p {*/
/*    text-align: justify;*/
/*}*/

/*p.noindent {*/
/*    text-indent: 0em;*/
/*}*/

/*div.panel h2 {*/
/*    font-weight: bold;*/
/*    font-size: x-large;*/
/*    margin: 5px;*/
/*}*/

/*div.panel h3 {*/
/*    !*font-weight: bold;*!*/
/*    !*font-size: large;*!*/
/*    !*margin: 5px 0px 5px 5px;*!*/
/*    !*padding: 5px 0px 5px 5px;*!*/
/*    !*background-color: lightblue;*!*/
/*    !*color: #123456;*!*/
/*    !*border-radius: 5px 5px 0px 0px;*!*/
/*}*/

/*div.panel h4 {*/
/*    font-weight: bold;*/
/*    font-size: medium;*/
/*    margin: 5px;*/
/*    padding-top: 5px;*/
/*    padding-left: 15px;*/
/*    text-decoration: underline lightblue;*/
/*}*/

/*dl.dl-horizontal dt {*/
/*    width:25%;*/
/*    margin-right: 5px;*/
/*}*/

/*dl.dl-horizontal dt:after {*/
/*    content: " : ";*/
/*}*/

/*a.mini {*/
/*    width: 4em;*/
/*    margin:5px;*/
/*    padding:5px;*/
/*    text-indent: 0em;*/
/*    background-color: #ececec;*/
/*}*/

/*.pointer:hover {*/
/*    cursor: pointer;*/
/*}*/

/*div.preview {*/
/*    !*background-color: #fffee8;*!*/
/*    !*border: 2px solid #ffc681;*!*/
/*    !*border-radius: 5px;*!*/
/*    padding: 2px;*/
/*}*/

/*span.octopus:after {*/
/*    content: "octopus";*/
/*    color: pink;*/
/*    font-size: x-small;*/
/*}*/

/*span.explication {*/
/*    font-family: monospace;*/
/*    font-variant-position: super;*/
/*    font-weight: bold;*/
/*}*/

/*span.explication.fiche {*/
/*    color: #000091;*/
/*}*/

/*span.explication.activite {*/
/*    color: #910000;*/
/*}*/

/*!** ACTIVITE *************************************************************************!*/

/*div.activite h3 {*/
/*    font-weight: bold;*/
/*    font-size: large;*/
/*    margin: 5px 0px 5px 5px;*/
/*    padding: 5px 0px 5px 5px;*/
/*    background-color: lightblue;*/
/*    color: #123456;*/
/*    border-radius: 5px 5px 0px 0px;*/
/*}*/

/*.modal-dialog {*/
/*    width: 1000px;*/
/*    margin: 30px auto;*/
/*}*/

/*!** BADGE STRUCTURE ********************************************************************!*/

span.badge.structure {
    border-radius: 0.25em;
    width:100%;
    background:#3c6c8b;
}

span.fiche-metier {
    font-weight: bolder;
    color: blue;
    font-family: monospace;
    cursor: help;
    font-variant-position: super;
}

span.activite {
    font-weight: bolder;
    color: orangered;
    font-family: monospace;
    cursor: help;
    font-variant-position: super;
}
span.inconnue {
    font-weight: bolder;
    color: gray;
    font-family: monospace;
    cursor: help;
    font-variant-position: super;
}

tr.historise {
    background: #d7d7d7;
}

dt.historise {
    text-decoration: line-through gray;
}
dd.historise {
    text-decoration: line-through gray;
}

span.todo {
    color:darkred;
    font-weight: bold;
    background-color:pink;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 0.1rem 0.5rem;
    border: 2px solid darkred;
}
span.todo:before {
    content:"TODO : ";
    text-decoration: underline;
}

/*div.validation {*/
/*    border: 1px grey solid;*/
/*    background-color: lightgray;*/
/*    border-radius: 5px;*/
/*    padding: 0.5rem;*/
/*    margin: 0.5rem;*/
/*}*/

/*div.validation-valider {*/
/*    border: 1px darkgreen solid;*/
/*    background-color: lightgreen;*/
/*}*/

/*div.validation-refuser {*/
/*    border: 1px darkred solid;*/
/*    background-color: lightcoral;*/
/*}*/

/*tr.historise td {*/
/*    color:lightslategray;*/
/*    background: #d9d9d9;*/
/*    !*text-decoration: line-through;*!*/
/*}*/

/*span.ferme {*/
/*    color:darkred;*/
/*    font-variant-caps: small-caps;*/
/*    font-variant-position: super;*/
/*    font-weight: bold;*/
/*}*/

table.elements {
    width:100%;
}

table.elements th.titre {
    background: linear-gradient(to right, lightgrey, whitesmoke);
    color: #3c6c8b;
    padding: 0.5rem;
}

span.lettrine {
    position:relative;
    left:-0.75rem;
    top:1rem;
    font-weight:bolder;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

span.probleme {
    color: darkred;
}

.titre-bloc {
    background-color:var(--color-light-bis);
    margin-left: 2rem;
    border: 1px var(--content-color) solid;
}

.groupe-libelle {
    background: var(--color-medium);
    color: #3c6c8b;
    font-weight: bold;
    padding: 0.5rem;
    display: block;
}

.element-libelle {
    /*padding-left: 1rem;*/
    display: block;
}
/*** Datatable ******/

table.datatable thead {
    background-color: var(--color-medium-bis);
    border-color: var(--color-medium);
    color: var(--header-color);
}

/** AUTRES MISE ENFORME ***********************************************************************************************/

.page-header-tab {
    border-bottom: 1px solid var(--color-info);
    font-variant: small-caps;
    color: var(--color-info);
    padding-left: 1rem;
    margin-left: 0.5rem;
    margin-right: 1.5rem;
}

.reponse_categorie {
    border-bottom: 1px solid grey;
    margin-right: 1.5rem;
    font-variant: small-caps;
}

.reponse_textarea {
    border-left: 1px solid grey;
    background: whitesmoke;
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    margin: 0.5rem 1.5rem 0.5rem 1rem;
}

/** ENTRETIEN PRO *****************************************************************************************************/

div.entretien-professionnel-observation {
    margin-left: 3rem;
}

div.information {
    background: whitesmoke;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px lightgrey solid;
    border-radius: 0.5rem ;
}

div.information div.description {
    border-left: 1px lightslategray solid ;
    padding: 0.5rem;
    margin: 0.5rem;
}

/** PARCOURS (DE FORMATION OU APPLICATIF) *****************************************************************************/

div.parcours {
    margin-bottom: 1rem;
}
div.parcours div.titre {
    background:var(--color-light-bis);
    padding-left: 2rem;
    border: 1px var(--content-color) solid;
    margin: 1rem;
}

div.parcours div.listing table {
    width: 100%;
}

div.parcours div.listing table th {
    background: lightgrey;
    color: #3c6c8b;
    padding: 0.5rem 0.5rem 0.5rem 3rem;
}

div.parcours div.listing table td {
    background: var(--content-background);
    padding: 0.1rem 0.1rem 0.1rem 3rem;
}

div.parcours div.listing table td.validation {
    width:5rem;
}

div.titre {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
div.listing table {
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

div.listing table th {
    background: lightgrey;
    color: #3c6c8b;
    padding: 0.5rem 0.5rem 0.5rem 3rem;
}

div.listing td.libelle {
    padding-left: 3rem;
}

div.listing  td.niveau {
    width: 10rem;
    text-align: right;
    padding-left: 1rem;
    /*background: lightblue;*/
}

div.listing  td.clef {
    width: 5rem;
    text-align: center;
    /*background: lightblue;*/
}

div.listing  td.validation {
    width: 10rem;
    text-align: right;
    padding-left: 1rem;
    /*background: lightgoldenrodyellow;*/
}

div.listing  td.action {
    width: 12rem;
    text-align: right;
    padding-left: 1rem;
    /*background: lightgreen;*/
}