table.xdebug-error {
    margin-top: 4rem;
}


.unistrap.unistrap-th-apc .text-info {
    color: var(--bs-info);
}
.unistrap.unistrap-th-apc .text-danger {
    color: var(--bs-danger);
}
.unistrap.unistrap-th-apc .text-warning {
    color: var(--bs-warning);
}

.bg-default {
    background: rgb(238,238,238);
}
/** MODAL *************************************************************************************************************/

div.modal div.modal-dialog {
    width: 80%;
    max-width: none;
}

div.modal div.modal-content {
    width: 100%;
}

div.modal div.modal-header {
    border-radius : 0;
    background: var(--unistrap-color-main);
    color: var(--bs-dark);
}

button.btn-close {
    color: var(--bs-dark);
    opacity: 1;
    font-size: large;
}

div.modal div.modal-footer {
    display: none;
}

/** TABLE ************************************/

th.action {
    width:8rem;
}

td.action,
div.action,
span.action
{
    font-size: small;
}
td.action a,
div.action a,
span.action a
{
    text-decoration: none;
}

a.action {
    text-decoration: none;
    padding: 0 1rem;
    border-radius : 0.25rem;
}
a.action.success {
    color: var(--bs-success);
}
a.action.danger {
    color: var(--bs-danger);
}
a.action.warning {
    color: var(--bs-warning);
}
a.action.primary {
    color: var(--bs-primary);
}
a.action.secondary {
    color: var(--bs-secondary);
}
a.action:hover {
    background: lightgray;
}

a.action.success:hover {
    background: lightgreen;
}
a.action.danger:hover {
    background: #ffa6c4;
}
a.action.warning:hover {
    background: #ffd2b9;
}
a.action.primary:hover {
    background: lightblue;
}

a.action.secondary:hover {
    background: lightgray;
}

/** TAB *****************************************/

div.tab-content {
    border-top: 1px gray solid;
}

.unistrap .nav-tabs  button.active {
    cursor: default ;
}
/** HISTORISER ****************************************************************************************************************/

tr.historise td:not(.action) {
    text-decoration: line-through darkred 2px;
}

li.historise,
span.historise {
    text-decoration: line-through darkred 2px;
}

dt.historise {
    text-decoration: line-through grey;
}
dd.historise {
    text-decoration: line-through grey;
}

.result-historiser {
    color: darkred;
}

.result-historiser label {
    text-decoration: line-through grey;
}

/** todoes et lettrines *************************************************************************************************/

span.todo {
    color:darkred;
    font-weight: bold;
    background-color:pink;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 0.1rem 0.5rem;
    border: 2px solid darkred;
}
span.todo:before {
    content:"TODO : ";
    text-decoration: underline;
}

span.lettrine {
    position:relative;
    left:-0.75rem;
    top:0.5rem;
    font-weight:bolder;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

span.small-lettrine {
    position:relative;
    left:-0.75rem;
    top:0.5rem;
    font-weight:bolder;
    font-size:7pt;
    text-decoration: none;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

/** LIEN **************************************************************************************************************/

div.ui-datepicker {
    z-index: 1061 !important; /* NB: doit être supérieur à la modale Bootstrap qui est à 1050 et au popover(1060) */
}

/** RATTRAPAGE **/

div.alert a.btn span.icon {
    color:white;
}

a.btn,
button {
    margin : 0.25rem;
}

.btn-secondary {
    background: var(--bs-secondary);
}

.btn-secondary:hover,
.btn-secondary:focus
{
    background: var(--bs-info);
}

.disabled:hover {
    color: var(--bs-danger);
    cursor: not-allowed;
}

button.float-end-bis {
    margin-left: auto;
}

span.badge {
    background: var(--unistrap-color-main);
}

.card {
    margin-bottom: 0.25rem;
}

/** STYLE PARTICULIER **/

div.multicheckbox label {
    margin-right: 1rem;
}

h1.page-header {
    border-left: 2rem solid  var(--unistrap-color-main);
    padding-left: 1rem;
}

.card-header {
    font-weight: bold;
    font-variant: small-caps;
}
.card-info {
    background: #badaff;
}

span.label {
    border-radius: 0.25rem;
    padding: 0.25rem;
    margin: 0.1rem;
    display: inline-block;
    border: 2px solid;
}

small a {
    text-decoration: none;
}

@media only screen and (min-width: 1600px) {
    div#contenu-principal{
        min-width:1450px;
    }
    header nav div#menu {
        min-width: 1450px;
    }
}

@media only screen and (min-width: 1700px) {
    div#contenu-principal{
        min-width:1550px;
    }
    header nav div#menu {
        min-width: 1550px;
    }
}

@media only screen and (min-width: 1800px) {
    div#contenu-principal{
        min-width:1650px;
    }
    header nav div#menu {
        min-width: 1650px;
    }
}

@media only screen and (min-width: 1900px) {
    div#contenu-principal{
        min-width:1750px;
    }
    header nav div#menu {
        min-width: 1750px;
    }
}

/** Keep on */

div.alert-danger .fa-exclamation-triangle {
    color: var(--bs-danger);
}

.unistrap .nav-tabs button.active
{
    border-top: 5px solid var(--unistrap-color-main);
}