table.xdebug-error {
    margin-top: 4rem;
}


.unistrap.unistrap-th-apc .text-info {
    color: var(--bs-info);
}
.unistrap.unistrap-th-apc .text-danger {
    color: var(--bs-danger);
}
.unistrap.unistrap-th-apc .text-warning {
    color: var(--bs-warning);
}

.bg-default {
    background: rgb(238,238,238);
}
/** MODAL *************************************************************************************************************/

div.modal div.modal-dialog {
    width: 80%;
    max-width: none;
}

div.modal div.modal-content {
    width: 100%;
}

div.modal div.modal-header {
    border-radius : 0;
    background: var(--unistrap-color-main);
    color: var(--bs-dark);
}

button.btn-close {
    color: var(--bs-dark);
    opacity: 1;
    font-size: large;
}

div.modal div.modal-footer {
    display: none;
}

/** TABLE ************************************/

div.action
{
    font-size: small;
}
td.action a,
div.action a
{
    text-decoration: none;
}

span.action,
a.action {
    text-decoration: none;
    padding: 0 0.5rem;
    border-radius : 0.25rem;
    font-size: small;
}
span.action.danger,
a.action.success {
    color: var(--bs-success);
}
span.action.danger,
a.action.danger {
    color: var(--bs-danger);
}
a.action.warning {
    color: var(--bs-warning);
}
span.action.primary,
a.action.primary {
    color: var(--bs-primary);
}
span.action.secondary,
a.action.secondary {
    color: var(--bs-secondary);
}
span.action:hover,
a.action:hover {
    background: lightgray;
    cursor: pointer;
}
span.action.success:hover,
a.action.success:hover {
    background: lightgreen;
}
span.action.danger:hover,
a.action.danger:hover {
    background: #ffa6c4;
}
span.action.warning:hover,
a.action.warning:hover {
    background: #ffd2b9;
}
span.action.primary:hover,
a.action.primary:hover {
    background: lightblue;
}
span.action.secondary:hover,
a.action.secondary:hover {
    background: lightgray;
}

/** TAB *****************************************/

div.tab-content {
    border-top: 1px gray solid;
}

.unistrap .nav-tabs  button.active {
    cursor: default ;
}
/** HISTORISER ****************************************************************************************************************/

/*tr.historise td:not(.action) {*/
/*    text-decoration: line-through darkred 2px;*/
/*}*/

tr.historise td {
    background: #fdc2c2;
}

li.historise,
span.historise {
    text-decoration: line-through darkred 2px;
}

dt.historise {
    text-decoration: line-through grey;
}
dd.historise {
    text-decoration: line-through grey;
}

.result-historiser {
    color: darkred;
}

.result-historiser label {
    text-decoration: line-through grey;
}

/** todoes et lettrines *************************************************************************************************/

span.todo {
    color:darkred;
    font-weight: bold;
    background-color:pink;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 0.1rem 0.5rem;
    border: 2px solid darkred;
}
span.todo:before {
    content:"TODO : ";
    text-decoration: underline;
}

span.lettrine {
    position:relative;
    left:-0.75rem;
    top:0.5rem;
    font-weight:bolder;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

span.small-lettrine {
    position:relative;
    left:-0.75rem;
    top:0.5rem;
    font-weight:bolder;
    font-size:7pt;
    text-decoration: none;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

button[disabled] {
    cursor: not-allowed;
}
/** LIEN **************************************************************************************************************/

div.ui-datepicker {
    z-index: 1061 !important; /* NB: doit être supérieur à la modale Bootstrap qui est à 1050 et au popover(1060) */
}

/** RATTRAPAGE **/

div.alert a.btn span.icon {
    color:white;
}

a.btn,
button {
    margin : 0.25rem;
}

.btn-secondary {
    background: var(--bs-secondary);
}

.btn-secondary:hover,
.btn-secondary:focus
{
    background: var(--bs-info);
}

.disabled:hover {
    color: var(--bs-danger);
    cursor: not-allowed;
}

button.float-end-bis {
    margin-left: auto;
}

span.badge {
    background: var(--unistrap-color-main);
}

.card {
    margin-bottom: 0.25rem;
}

/** STYLE PARTICULIER **/

div.multicheckbox label {
    margin-right: 1rem;
}

h1.page-header {
    border-left: 2rem solid  var(--unistrap-color-main);
    padding-left: 1rem;
}

.card-header {
    font-weight: bold;
    font-variant: small-caps;
}
.card-info {
    background: #badaff;
}
.card-header a {
    font-variant: normal;
}

span.label {
    border-radius: 0.25rem;
    padding: 0.25rem;
    margin: 0.1rem;
    display: inline-block;
    border: 2px solid;
}

small a {
    text-decoration: none;
}

@media only screen and (min-width: 1600px) {
    div#contenu-principal{
        min-width:1450px;
    }
    header nav div#menu {
        min-width: 1450px;
    }

    h1 { font-size: 32px; }
    h2 { font-size: 28px; }
    h3 { font-size: 24px; }
    h4 { font-size: 22px; }
    h5 { font-size: 20px; }
}

@media only screen and (min-width: 1700px) {
    div#contenu-principal{
        min-width:1550px;
    }
    header nav div#menu {
        min-width: 1550px;
    }
}

@media only screen and (min-width: 1800px) {
    div#contenu-principal{
        min-width:1650px;
    }
    header nav div#menu {
        min-width: 1650px;
    }
}

@media only screen and (min-width: 1900px) {
    div#contenu-principal{
        min-width:1750px;
    }
    header nav div#menu {
        min-width: 1750px;
    }
}


/** Keep on */

div.alert-danger .fa-exclamation-triangle {
    color: var(--bs-danger);
}

.unistrap .nav-tabs button.active
{
    border-top: 5px solid var(--unistrap-color-main);
}

.bg-success.ui-menu-item{
    background-color: #e9ffe9 !important;
}

.refreshing::before {
    content: "Rafraîchissement";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* au-dessus du contenu */
    background-color: rgba(128, 128, 128, 0.6); /* gris semi-transparent */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
}

.refreshing {
    position: relative;
    /*background: Green;*/
}

.badge.activite {
    background: var(--emc2-activite);
}
.badge.mission {
    background: var(--emc2-mission);
}
.badge.competence {
    background: var(--emc2-competence);
}
.badge.fichemetier {
    background: var(--emc2-fichemetier);
}
.badge.ficheposte {
    background: var(--emc2-ficheposte);
}

/*ul.dropdown-menu {*/
/*    width: 100%;*/
/*}*/

/** Parametrage de bootstrap-select ***********************************************************************************/

.bootstrap-select .filter-option-inner {
    white-space: normal;
    height: auto;
}

ul.dropdown-menu span.libelle_mission,
ul.dropdown-menu span.libelle_competence
{
    white-space: normal !important;
    word-wrap: break-word;
    max-width: 90% !important;
}


ul.dropdown-menu span.description {
    white-space: normal !important;
    word-wrap: break-word;
    max-width: 90% !important;
}
ul.dropdown-menu span.description li {
    /*white-space: normal !important;*/
    /*word-wrap: break-word;*/
}

div.filter-option-inner-inner span.mission {
    display:inline !important;
}

/** Cela permet de conserver l'icone et le libellé sur la même ligne pour les actions (communes) **/
table th.action {
    min-width: 8rem;
}

span.missing-data {
    color:gray;
    font-style: italic;
}