.unistrap {
    --bs-success: rgb(0, 100, 0);
    --bs-success-rgb: 0, 100, 0;
    --bs-danger: rgb(200, 0, 0);
    --bs-danger-rgb: 200,0,0;
    --bs-info: rgb(0, 0, 100);
    --bs-info-rgb: 0,0,255;
    --bs-warning: rgb(245, 121, 0);
    --bs-warning-rgb: rgb(245, 121, 0);
    --bs-primary: #0d6efd;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary: rgb(100,100,100);
    --bs-secondary-rgb: 108, 117, 125;

    --bs-body-font-family: "Ubuntu", Helvetica;
}

.unistrap-th-emc2 {
    --unistrap-color-main: rgb(55, 104, 155);
    --unistrap-color-dark: rgb(15,64,95);
    --unistrap-color-light: rgb(155, 204, 255);
}

footer div#etablissement {
    position: relative;
    top: 40px;
    height:85px;
    width:160px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('../img/nerv-logo.com.png');
    background-size: 72px 85px;
}