:root {
    /** EMC2 **/

    /** MES FORMATIONS **/
}


.unistrap.unistrap-th-emc2 {
    --unistrap-color-main: rgb(55, 104, 155);
    --unistrap-color-dark: rgb(15,64,95);
    --unistrap-color-light: rgb(155, 204, 255);

    --bs-success: rgb(0, 100, 0);
    --bs-success-rgb: 0, 100, 0;
    --bs-danger: rgb(200, 0, 0);
    --bs-danger-rgb: 200,0,0;
    --bs-info: rgb(0, 0, 100);
    --bs-info-rgb: 0,0,255;
    --bs-warning: Sienna;
    --bs-warning-rgb: 160, 82, 45;
    --bs-primary: #0d6efd;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary: #6c757d;
    --bs-secondary-rgb: 108, 117, 125;
}

.unistrap.unistrap-th-formations {
    --unistrap-color-main: rgb(46, 112, 58);
    --unistrap-color-dark: rgb(6,72,18);
    --unistrap-color-light: rgb(146, 212, 158);

    --bs-success: rgb(0, 100, 0);
    --bs-success-rgb: 0, 100, 0;
    --bs-danger: rgb(200, 0, 0);
    --bs-danger-rgb: 200,0,0;
    --bs-info: rgb(0, 0, 100);
    --bs-info-rgb: 0,0,255;
    --bs-warning: Sienna;
    --bs-warning-rgb: 160, 82, 45;
    --bs-primary: #0d6efd;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary: #6c757d;
    --bs-secondary-rgb: 108, 117, 125;
}

