:root {
 --header-background-mes-formations : #1b415e;
 --header-background-mes-formations-hover : #3374ab;
}

html#mes-formations nav {
 background: var(--header-background-mes-formations);
}

html#mes-formations nav ul li.nav-item a.nav-link:hover {
    background: var(--header-background-mes-formations-hover);
}

html#mes-formations a:hover {
    background: var(--header-background-mes-formations-hover);
    color: black;
}

html#mes-formations ul.nav {
    border-bottom: none;
}

html#mes-formations .dropdown-item.active {
    background: var(--header-background-mes-formations);
}

.text-mesformations {
  color : var(--header-background-mes-formations);
}

html#mes-formations ul.nav.navbar-nav li a.nav-header {
    margin: 1rem;
}

