:root {
    --color-dark: #505050;
    --color-dark-bis: #050505;
    --color-medium: #bbb;
    --color-medium-bis: #999;
    --color-light: #F3F3F3;
    --color-light-bis: #FFF;

    --header-background: var(--color-dark);
    --header-background-hover: var(--color-dark-bis);
    --header-color: var(--color-light);

    --body-background: var(--color-light);
    --body-color: var(--color-dark);

    --content-background: var(--color-light-bis);
    --content-color: var(--color-dark);

    --footer-background : var(--color-light-bis);
    --footer-color: var(--color-dark);
    --footer-border-color: var(--color-medium);

    --font-principal : Ubuntu, sans-serif;
    --font-secondaire : Raleway, serif;

    --default-background : var(--header-background);
    --default-background-hover : var(--header-background-hover);
    --primary-background : var(--header-background);
    --primary-background-hover : var(--header-background-hover);
    --information-background : #000050;
    --information-background-back : #d0e7ff;
    --information-background-hover : #00278b;
    --success-background-hover : #008b00;
    --success-background : #005000;
    --success-background-back : #c1ffc1;
    --danger-background-hover : #8b0000;
    --danger-background : #500000;
    --danger-background-back : #ffafaf;
    --warning-background-hover : #e78615;
    --warning-background : #bf7012;
    --warning-background-back : #ffd3ae;
}

:root {
    --header-height: 70px;
    --footer-height: 200px;
}

/** GENERAL ***********************************************************************************************************/

body {
    background-image: none;
    color: var(--body-color);
    background: var(--body-background);
    font-family: var(--font-principal);
    border-radius: 0;
    border: 0;
    padding-top: 0;
}

/** NAVBAR --------------------------------------------------------------------------------------------------------- **/

header {
    height: var(--header-height);
}

div.navbar {
    position: fixed;
    z-index: 1030;
    background: var(--header-background);
    color: var(--header-color);
    width: 100%;
    border: 0;
    border-radius: 0;
    height: var(--header-height);
    font-family: Raleway, sans-serif;
    text-shadow: none;
}

div.navbar a {
    color: var(--header-color);
    font-weight: bold;
}

/** image unicaen -------------------------------------------------------------------------------------------------- **/

div.navbar-element#navbar-logo {
    display: inline-block;
    float:left;
}

img.navbar-logo-unicaen {
    display: inline-block;
    height: calc(var(--header-height) - 2*5px);
    margin: 5px 5px;
}

/** appname -------------------------------------------------------------------------------------------------------- **/

div.navbar-appname {
    float: left;
    max-width: 40rem;
}

a.navbar-brand h1 {
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    font: normal normal bold 18px/21px Raleway;
    letter-spacing: 0.15rem;
}

/** menu ----------------------------------------------------------------------------------------------------------- **/

.navbar .nav > li.dropdown {
    /*border-right: 2px solid var(--header-color);*/
}

.navbar .nav > li.dropdown:first-child {
    /*border-left: 2px solid var(--header-color);*/
}

.navbar .nav > li.active,
.navbar .nav > li:focus,
.navbar .nav > li:hover {
    background: var(--header-background-hover);
}

.navbar .nav > li.dropdown > a {
    padding-top: 0;
    text-transform: uppercase;
    background: none;
    height: var(--header-height);
    line-height: var(--header-height);
}

.navbar .nav > li > a {
    padding-top: 0;
    text-transform: uppercase;
    background: none;
    height: var(--header-height);
    line-height: var(--header-height);
    border-right: 2px solid var(--header-color);
}
.navbar .nav > li:first-child {
    border-left: 2px solid var(--header-color);
}

.navbar .nav > li.open {
    background: var(--header-background-hover);
}

.navbar .nav .dropdown-menu {
    font-size: 14px;
    background: var(--header-background-hover);
}

.navbar .nav .dropdown-menu > li > a {
    color: var(--color-medium);
    padding: 2px 15px;
}
.navbar .nav .dropdown-menu > li > a:focus, .navbar .nav .dropdown-menu > li > a:hover {
    color: var(--header-color);
    background-color: var(--header-background);
}
header ul.dropdown-menu > li a:hover {
    background: darkred;
}

.navbar .nav .dropdown-menu > li.active  a {
    color: var(--header-color);
    background-color: var(--header-background);
}
.navbar .nav .dropdown-menu > li.dropdown-header {
    font-size: 14px;
    color: var(--content-background);
    font-weight: bold;
    text-decoration: underline;
}

/** connection  ---------------------------------------------------------------------------------------------------- **/

div.navbar-connection {
    text-align: right;
    margin-top: calc(var(--header-height)/4);
    background: var(--header-background);
    display: inline-block;
    position: absolute;
    top: 0;
    right: 10px;

}

div.navbar .popover {
    color: var(--header-background-hover);
}

/** FOOTER ************************************************************************************************/

footer {
    text-align: center;
    background: var(--footer-background);
    border-top: 6px solid var(--footer-border-color);
    height: var(--footer-height);
    line-height: var(--footer-height);
}

footer div {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: calc((var(--footer-height) - 85px)/1.5) ;
    /*background: darkred;*/
}

div#menu-footer {
    font: normal normal normal 14px/33px Ubuntu;
    letter-spacing: 0.05rem;
    padding: 0 1em;
    text-transform: uppercase;

    color: var(--footer-color);
}

footer div#menu-footer  ul li {
    display: inline-block;
    padding: 5px;
}

footer div#menu-footer  ul.navigation li:first-child{
    border-left: none;
}

footer div#menu-footer ul.navigation li{
    border-left: 1px gray solid;
}

footer div#menu-footer a {
    color: var(--footer-color);
    text-decoration: none;
}


img.footer-logo-republique-francaise {
    height: 85px;
    margin-top: -20px;
    margin-right: 20px;
    /*background: darkgreen;*/
}


img.footer-logo-unicaen {
    height: 85px;
    margin-top: -20px;
    /*background: darkgreen;*/
}

img.footer-logo-normandie-universite {
    height: 85px;
    margin-top: -20px;
    /*background: darkgreen;*/
}

/**********************************************************************************************************/

/*img.footer-logo-republique-francaise {*/
/*    display: inline-block;*/
/*    height: calc(2 / 3 * 85px);*/
/*    margin: 5px calc(2 / 3 * 20px);*/
/*}*/


/*img.footer-logo-unicaen {*/
/*    display: inline-block;*/
/*    height: calc(2 / 3 * 85px);*/
/*    margin: 5px calc(2 / 3 * 20px);*/
/*}*/

/*img.footer-logo-normandie-universite {*/
/*    display: inline-block;*/
/*    height: calc(2 / 3 * 85px);*/
/*    margin: 5px calc(2 / 3 * 20px);*/
/*}*/

/*footer ul li {*/
/*    font: normal normal normal 12px/30px Ubuntu;*/
/*}*/

@media (max-width: 1199px) {
    div#menu-lateral-gauche,
    div#menu-lateral-droit {
        display: none;
    }

    div#contenu-principal {
        width: 100%;
    }

    footer ul ul {
        width:50%;
    }
}

@media (max-width: 1199px) {
    a.navbar-brand h1 {
        text-transform: uppercase;
        font: normal normal bold 15px/18px Raleway;
        letter-spacing: 0.10rem;
    }

    .navbar .nav > li.dropdown,
    div.navbar-connection
    {
        font-size: 12px;
    }
}

@media (max-width: 899px) {
    a.navbar-brand h1 {
        display: none;
    }
}

@media (min-width: 800px) {
    div#navbar-hamburger {
        display: none;
    }

    p.navbar-connection {
        position: absolute;
        top :10px;
        right :10px;
    }
}
@media (max-width: 799px) {
    .navbar .navbar-element#navbar-logo {
        display: none;
    }

    .navbar-header a.navbar-brand h1 {
        margin-top: 2px;
    }

    .navbar-toggle .icon-bar {
        background-color: var(--header-color);
    }

    div.navbar-collapse {
        background: var(--header-background);
    }

    div.navbar-collapse ul.nav > li.dropdown {
        background: var(--header-background);
    }

    div.navbar-collapse ul.nav > li.dropdown > a {
        text-transform: uppercase;
        background: none;
    }

    div.navbar-collapse ul.nav li.dropdown > a:hover, div.navbar-collapse ul.nav li.dropdown > a:focus {
        background: var(--header-background-hover);
    }
}

div#contenu-principal {
    padding-top: 1rem;
    background: var(--content-background);
    min-height: calc(100vh - var(--header-height) - var(--footer-height) );
}

footer {
    height: var(--footer-height);
    margin: 0;
}

/** FOOTER --------------------------------------------------------------------------------------------------------- **/

.scrollup {
    position:absolute;
    bottom:50px;
    right:50px;
}

/*!** AUTRE ---------------------------------------------------------------------------------------------------------- **!*/

span.version.test {
    background: darkblue;
}

span.version.development {
    background: darkred;
}

span.version.inconnue {
    background: darkgoldenrod;
}

/** TITRE *****/

h1 {
    font-size: 30px;
    line-height: 34px;
}

h2 {
    font-size: 25px;
    line-height: 28px;
}

h3 {
    font-size: 20px;
    line-height: 23px;
}

h1.page-header {
    margin: 0 0 5px 0;
    padding: 0 0 5px 20px;
    border-bottom:1px solid var(--body-background);
}

/** BUTTON ************************************************************************************************************/

button,
input[type=button],
input[type=submit],
a.btn
{
    font-family: Raleway, sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 0;
    font-weight: bold;
}

.btn-default                            { background: var(--content-background); }
.btn-default:hover, .btn-default:focus  { background: var(--body-background); }
.btn-info                               { background: var(--information-background); }
.btn-info:hover, .btn-info:focus        { background: var(--information-background-hover); }
.btn-primary                            { background: var(--primary-background); }
.btn-primary:hover, .btn-primary:focus  { background: var(--primary-background-hover); }
.btn-success                            { background: var(--success-background); }
.btn-success:hover, .btn-success:focus  { background: var(--success-background-hover); }
.btn-danger                             { background: var(--danger-background); }
.btn-danger:hover, .btn-danger:focus    { background: var(--danger-background-hover); }
.btn-warning                            { background: var(--warning-background); }
.btn-warning:hover, .btn-warning:focus  { background: var(--warning-background-hover); }

/** ALERT / PANEL *************************************************************************************************************/

div.alert {
    border-radius: 0;
}

div.alert.alert-info {
    background: var(--information-background-back);
    border-color:  var(--information-background);
    color:  var(--information-background);
}

div.alert.alert-warning {
    background: var(--warning-background-back);
    border-color:  var(--warning-background);
    color:  var(--warning-background);
}

div.alert.alert-danger {
    background: var(--danger-background-back);
    border-color:  var(--danger-background);
    color:  var(--danger-background);
}

div.alert.alert-success {
    background: var(--success-background-back);
    border-color:  var(--success-background);
    color:  var(--success-background);
}

div.panel {
    border-radius: 0;
}

div.panel div.panel-heading{
    border-radius: 0;
}

div.panel div.panel-body{
    border-radius: 0;
}

div.panel.panel-info {
    border-color:  var(--information-background);
    color:  var(--information-background);
}

div.panel.panel-info div.panel-heading{
    background: var(--information-background-back);
    border-color:  var(--information-background);
    color:  var(--information-background);
}

div.panel.panel-warning {
    border-color:  var(--warning-background);
    color:  var(--warning-background);
}

div.panel.panel-warning div.panel-heading{
    background: var(--warning-background-back);
    border-color:  var(--warning-background);
    color:  var(--warning-background);
}

div.panel.panel-danger {
    border-color:  var(--danger-background);
    color:  var(--danger-background);
}

div.panel.panel-danger div.panel-heading{
    background: var(--danger-background-back);
    border-color:  var(--danger-background);
    color:  var(--danger-background);
}

div.panel.panel-success {
    border-color:  var(--success-background);
    color:  var(--success-background);
}

div.panel.panel-success div.panel-heading{
    background: var(--success-background-back);
    border-color:  var(--success-background);
    color:  var(--success-background);
}

div.panel.panel-default {
    border-color:  var(--color-dark);
    color:  var(--default-background);
}

div.panel.panel-default div.panel-heading{
    background: var(--color-medium-bis);
    border-color:  var(--color-dark);
    color:  var(--default-background-hover);
}

/** TABLE *************************************************************************************************************/

table.table thead {
    background: var(--header-background);
    color: var(--content-background);
}

table.table thead tr th {
    border: none;
}

table.table tbody tr td {
    border-top: none;
    border-bottom: 1px solid var(--content-color);
}

.table-hover tbody tr:hover td {
    background: #fdf8a5;
}
/** ONGLET ************************************************************************************************************/

ul.nav-tabs {
    padding: 0.5rem 0.5rem 0 0.5rem;
    border-bottom: 1px solid var(--content-color);
}

ul.nav-tabs li a, ul.nav-tabs li a:hover {
    border: 1px solid var(--color-medium-bis);
    border-bottom: none;
    border-radius: 0;
    color: var(--body-color);
}

ul.nav-tabs li a:hover {
    border: 1px solid var(--content-color);
    border-bottom: none;
}

ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
    border: 1px solid var(--content-color);
    border-bottom: none;
    border-radius: 0;
    color: var(--body-color);
}

/** BRICOLAGE *********************************************************************************************************/

div.div-connexion {
    margin-top: 25px;
}

.bootstrap-select > .dropdown-toggle {
    height:3rem;
}