:root {
    --color-dark: #505050;
    --color-dark-bis: #050505;
    --color-medium: #bbb;
    --color-medium-bis: #999;
    --color-light: #F3F3F3;
    --color-light-bis: #FFF;

    --header-background: var(--color-dark);
    --header-background-hover: var(--color-dark-bis);
    --header-color: var(--color-light);

    --body-background: var(--color-light);
    --body-color: var(--color-dark);

    --sidebar-background: var(--color-dark);
    --sidebar-background-hover: var(--color-dark-bis);
    --sidebar-color: var(--color-light);
    --sidebar-color-hover: var(--color-light);

    --content-background: var(--color-light-bis);
    --content-color: var(--color-dark);

    --footer-background : var(--color-light);
    --footer-color: var(--color-dark);
    --footer-border-color: var(--color-medium);

    --font : Ubuntu;
}

/** GENERAL ***********************************************************************************************************/

body {
    color: var(--body-color);
    background: var(--body-background);
    background-image: none;
    font-family: Ubuntu, sans-serif;
}

div {
    border-radius: 0;
}

/** NAVBAR --------------------------------------------------------------------------------------------------------- **/

div.navbar .popover {
    color: var(--header-background-hover);
}

div.navbar {
    position: absolute;
    top:0;
    background: var(--header-background);
    color: var(--header-color);
    width: 100%;
    border-radius: 0;
}

div.navbar a {
    color: var(--header-color);
}

div.navbar h1 {
    margin: 0;
}

div.navbar-element {
    display: inline-block;
}

div.navbar-appname {
    float: left;
    width:auto;
}

a.navbar-brand h1 {
    text-align: left;
    text-transform: uppercase;
    height: auto;
}

a.navbar-brand h1 > span {
    text-transform: initial;
    display: block;
}

div.navbar-menu {
    float: left;
    border-left: 1px solid var(--header-color);
    border-right: 1px solid var(--header-color);
}

div.navbar-menu ul li{
    display: inline;
}

div.navbar-menu ul li a {
    color: var(--header-color);
    text-transform: uppercase;
    opacity: 1;
    border-left: 1px solid var(--header-color);
    border-right: 1px solid var(--header-color);
}

div.navbar-menu ul li a:hover {
    background: var(--header-background-hover);
}

div.navbar-menu ul li a:focus {
    background: var(--header-background-hover);
}

div.navbar-connection {
    float: right;
    white-space: nowrap;
}

/** SIDEBAR -------------------------------------------------------------------------------------------------------- **/

div.sidebar ul li a {
    color:var(--sidebar-color);
    background: var(--sidebar-background);
}

div.sidebar ul li:hover a {
    background: var(--sidebar-background-hover);
    color:var(--sidebar-color);
}

div.sidebar ul li.active a{
    background: var(--sidebar-background-hover);
    color:var(--sidebar-color);
}

div.sidebar ul li.active:hover a{
    background: var(--sidebar-background-hover);
    color:var(--sidebar-color);
}

/** CONTENT -------------------------------------------------------------------------------------------------------- **/

div#contenu-principal {
    background: var(--content-background);
}

/** FOOTER --------------------------------------------------------------------------------------------------------- **/

.scrollup {
    position:absolute;
    bottom:50px;
    right:50px;
}

footer {
    width:100%;
}
#footer {
    text-align: center;
    background-color: var(--footer-background);
    border-top: 6px solid var(--footer-border-color);
    width:100%;
}

#footer a {
    color: var(--footer-color);
}

#footer ul.navigation {
    text-transform: uppercase;
}

#footer ul.navigation > li {
    border-left: 1px var(--footer-color) solid;
}

/** AUTRE ---------------------------------------------------------------------------------------------------------- **/

span.version.test {
    background: darkblue;
}

span.version.development {
    background: darkred;
}

span.version.inconnue {
    background: darkgoldenrod;
}

label {
    /** bricolage pour le changement de rôle */
    color:black;
}

div.row {
    margin: 0;
}
@media (min-width: 768px) {

    :root {
        --header-height: 90px; /** 90px **/
        --footer-height: 200px; /** 200 px **/
        --font-size: 15px;
        --font-size-title: 18px;
        --font-size-subtitle: 16px;
        --letter-spacing: 0.48px;
    }

    div.navbar {
        height: var(--header-height);
    }

    div.navbar-appname {
        height: var(--header-height);
        padding-top: calc((var(--header-height) )/ 3 - var(--font-size-title));
    }

    a.navbar-brand h1 {
        font: normal normal bold var(--font-size-title) var(--font);
        letter-spacing: var(--letter-spacing);
    }

    a.navbar-brand h1 > span {
        font: normal var(--font-size-subtitle) var(--font);
        padding-top: calc((var(--header-height) )/ 9);
    }

    div.navbar-menu ul li a {
        height: var(--header-height);
        padding-top: calc( (var(--header-height) - var(--font-size)) / 2);
        letter-spacing: var(--letter-spacing);
    }

    div.navbar-menu ul li.active {
        background: var(--header-background-hover);
    }

    div.navbar-connection {
        height: var(--header-height);
        line-height: var(--header-height);
        padding: 0 5rem 0 5rem;
    }

    body {
        padding-top: var(--header-height);
        margin-top: 2px;
        font-size: var(--font-size);
    }

    div.container#contenu-principal {
        width:100%;
        padding: 0;
        margin-top: 0;
        min-height: calc(100vh - var(--header-height) - var(--footer-height)) ;
    }

    div.container div.row {
        margin-top: 0;
    }

    div.sidebar {
        margin-top: 5rem;
        margin-bottom: 5rem;
        margin-left: 1rem;
    }

    div#contenu-principal {
        padding-top: 1rem;
    }

    #footer {
        height: var(--footer-height);
    }

    #footer ul.navigation > li {
        display: inline;
        padding: 0 2em;
    }

    #footer ul.navigation > li:first-child {
        border: none;
    }

    #footer {
        padding: calc(var(--footer-height) / 4) 0; /** 50 pour 200 **/
        margin: 0;
    }

    #footer ul {
        width: 100%;
        margin: auto;
    }


    #footer ul li {
        display: inline;
        padding: 0 1em;
        border-left: 1px gray solid;
    }


    #footer ul > li {
        border: 0;
        padding: 0;
    }

    #footer ul.navigation {
        display: inline;
        width: 100%;
        margin: auto;
        padding: 0;
    }

    #footer ul.navigation {
        font: normal normal normal var(--font-size-subtitle)/26px var(--font);
        letter-spacing: var(--letter-spacing);
    }


    img.footer-logo-republique-francaise {
        display: inline-block;
        width: 100px;
        height: 90px;
        margin: 0 40px;
    }

    img.footer-logo-unicaen {
        display: inline-block;
        width: 132px;
        height: 70px;
    }

    a.footer-logo-normandie-universite {
        display: inline-block;
        width: 93px;
        height: 55px;
        margin-right: 30px;
    }
}

@media (min-width: 0) and (max-width: 768px) {
    :root {
        --header-height: 90px; /** 90px **/
        --footer-height: 200px; /** 200 px **/
        --font-size: 12px;
        --font-size-title: 18px;
        --font-size-subtitle: 16px;
        --letter-spacing: 0.48px;
    }
    body {
        /*font-size: var(--font-size);*/
    }

    div.container#contenu-principal {
        width:100%;
        padding: 0;
    }

    .navbar-appname {
        width: 10rem;
    }

    .navbar-appname h1 {
        display:none;
    }

    .navbar-appname h1::before {
        content:"C";
    }

    div.navbar-connection {
        padding: 0;
        margin: 0;
        /*width: auto;*/
    }

    span.version {
        display: none;
    }
}

/** TABLEAU ********/

thead {
    font-weight: bold;
}
