[Unit]
Description=Exécute les fonctions associées à la gestion des formations : notification et cloture.

[Service]
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=/bin/bash /var/www/html/script/gerer-formation.sh
