<?php

use Doctrine\DBAL\Driver\PgSQL\Driver;
use Doctrine\ORM\Mapping\Driver\XmlDriver;
use Doctrine\Persistence\Mapping\Driver\MappingDriverChain;

$env = getenv('APPLICATION_ENV') ?: 'production';

const VUESIRH_DRIVER = Driver::class;
const VUESIRH_HOSTNAME = 'serveur_vuesirh.mon-etablissement.fr';
const VUESIRH_PORT = '5432';
const VUESIRH_NAME = 'database_name';
const VUESIRH_USERNAME = 'database_username';
const VUESIRH_PASSWORD = 'mot de passe';

return [

    'doctrine' => [
        'driver' => [
            'orm_octopus' => [
                'class' => MappingDriverChain::class,
                'drivers' => [
                    'Application\Entity\Db' => 'orm_octopus_xml_driver',
                ],
            ],
            'orm_octopus_xml_driver' => [
                'class' => XmlDriver::class,
                'cache' => 'apc',
                'paths' => [
                    __DIR__ . '/../src/Application/Entity/Db/Mapping',
                ],
            ],
        ],
        'connection' => [
            'orm_octopus' => [
                'driverClass' => VUESIRH_DRIVER,
                'params' => [
                    'charset' => 'utf8',
                    'driverOptions' => [1002 => 'SET NAMES utf8'],
                    'port' => VUESIRH_PORT,

                    'host' => VUESIRH_HOSTNAME,
                    'user' => VUESIRH_USERNAME,
                    'password' => VUESIRH_PASSWORD,
                    'dbname' => VUESIRH_NAME,
                ],
            ],
        ],
        'entitymanager' => [
            'orm_octopus' => [
                'connection' => 'orm_octopus',
                'configuration' => 'orm_octopus',
            ],
        ],
        'configuration' => [
            'orm_octopus' => [
                'metadata_cache' => 'array',
                'query_cache' => 'array',
                'result_cache' => 'array',
                'hydration_cache' => 'array',
                'generate_proxies' => true,
                'driver' => 'orm_octopus',
            ],
        ],
    ],
];