<?php

use Doctrine\DBAL\Driver\PgSQL\Driver;
use Doctrine\ORM\Mapping\Driver\XmlDriver;
use Doctrine\Persistence\Mapping\Driver\MappingDriverChain;

$env = getenv('APPLICATION_ENV') ?: 'production';

const DB_EMC2_DRIVER = Driver::class;
const DB_EMC2_HOSTNAME = 'serveur_basededeonnees.mon-etablissement.fr';
const DB_EMC2_PORT = '5432';
const DB_EMC2_NAME = 'database_name';
const DB_EMC2_USERNAME = 'database_username';
const DB_EMC2_PASSWORD = 'mot de passe';

return [
    'doctrine' => [
        'driver' => [
            'orm_default' => [
                'class' => MappingDriverChain::class,
                'drivers' => [
                    'Application\Entity\Db' => 'orm_default_xml_driver',
                ],
            ],
            'orm_default_xml_driver' => [
                'class' => XmlDriver::class,
                'cache' => 'apc',
                'paths' => [
                    __DIR__ . '/../src/Application/Entity/Db/Mapping',
                ],
            ],
        ],
        'cache' => [
            'apc' => [
                'namespace' => 'PREECOG__' . __NAMESPACE__,
            ],
        ],
        'connection' => [
            // base de l'application
            'orm_default' => [
                'driverClass' => DB_EMC2_DRIVER,
                'params' => [
                    'driver' => 'Postgresql',
                    'host' => DB_EMC2_HOSTNAME,
                    'port' => DB_EMC2_PORT,
                    'charset' => 'utf8',
                    'driverOptions' => [1002 => 'SET NAMES utf8'],
                    'user' => DB_EMC2_USERNAME,
                    'username' => DB_EMC2_USERNAME,
                    'password' => DB_EMC2_PASSWORD,
                    'dbname' => DB_EMC2_NAME,
                ],
            ],
        ],
        'entitymanager' => [
            'orm_default' => [
                'connection' => 'orm_default',
                'configuration' => 'orm_default',
            ],
        ],
        'configuration' => [
            'orm_default' => [
                'metadata_cache' => 'array',
                'query_cache' => 'array',
                'result_cache' => 'array',
                'hydration_cache' => 'array',
                'generate_proxies' => true,
            ],
        ],
    ],
];