<?php

use Unicaen\Console\Console;

$hostname = match (getenv('APPLICATION_ENV')) {
    'development' => 'mes-formations.ma-machine.mon-etablissement.fr:8443',
    'test' => 'mes-formations-pp.mon-etablissement.fr',
    default => 'mes-formations.mon-etablissement.fr',
};

return [

    'view_manager' => [
        'display_not_found_reason' => true,
        'display_exceptions'       => true,
    ],

    'router' => [
        'routes' => [
            'mes-formations' => [
                'type' => 'Hostname',
                'options' => [
                    'route' => ':hostname',
                    'constraints' => [
                        'hostname' => 'mes-formations(-pp)?(.n302z-dsi008)?.unicaen.fr',
                    ],
                    'defaults' => [
                        'hostname' => !Console::isConsole() ? $hostname : '',
                    ],
                ],
                'may_terminate' => true,
            ],
        ],
    ],
];
