<?php

use Unicaen\Console\Console;

$env = getenv('APPLICATION_ENV') ?: 'production';



$hostname = match (getenv('APPLICATION_ENV')) {
    'development' => 'mes-formations.ma-machine.mon-etablissement.fr:8443',
    'test' => 'mes-formations-pp.mon-etablissement.fr',
    default => 'mes-formations.mon-etablissement.fr',
};

return [
    'module_listener_options' => [
        'config_cache_enabled'     => ($env === 'production'),
        'config_cache_key'         => 'app_config',
        'module_map_cache_enabled' => ($env === 'production'),
        'module_map_cache_key'     => 'module_map',
        'cache_dir'                => 'data/config/',
        'check_dependencies'       => ($env !== 'production'),
    ],


    'view_manager' => [
        'display_not_found_reason' => true,
        'display_exceptions'       => true,
    ],

    'router' => [
        'routes' => [
            'mes-formations' => [
                'type' => 'Hostname',
                'options' => [
                    'route' => ':hostname',
                    'constraints' => [
                        'hostname' => $hostname,
                    ],
                    'defaults' => [
                        'hostname' => !Console::isConsole() ? $hostname : '',
                    ],
                ],
                'may_terminate' => true,
            ],
        ],
    ],
];
