<?php

$env = getenv('APPLICATION_ENV') ?: 'production';

return [
    'module_listener_options' => [
        'config_cache_enabled'     => ($env === 'production'),
        'config_cache_key'         => 'app_config',
        'module_map_cache_enabled' => ($env === 'production'),
        'module_map_cache_key'     => 'module_map',
        'cache_dir'                => 'data/config/',
        'check_dependencies'       => ($env !== 'production'),
    ],


    'view_manager' => [
        'display_not_found_reason' => true,
        'display_exceptions'       => true,
    ],

];
