<?php

return [
    'synchros' => [
        'CORRESPONDANCE_TYPE' => [
            'order' => 1000,
            'source' => 'OCTOPUS',
            'orm_source' => 'orm_octopus',
            'orm_destination' => 'orm_default',
            'table_source' => 'V_EMC2_CORRESPONDANCE_TYPE',
            'table_destination' => 'carriere_correspondance_type',
            'correspondance' => [
                'id' => 'id',
                'code' => 'code',
                'libelle_court' => 'libelle_court',
                'libelle_long' => 'libelle_long',
                'description' => 'description',
                'date_debut' => 'd_ouverture',
                'date_fin' => 'd_fermeture',
            ],
            'id' => 'id',
        ],
        'CORRESPONDANCE' => [
            'order' => 1100,
            'source' => 'OCTOPUS',
            'orm_source' => 'orm_octopus',
            'orm_destination' => 'orm_default',
            'table_source' => 'V_EMC2_CORRESPONDANCE',
            'table_destination' => 'carriere_correspondance',
            'correspondance' => [
                'id' => 'id',
                'code' => 'c_bap',
                'lib_court' => 'lib_court',
                'lib_long' => 'lib_long',
                'type_id' => 'type_id',
                'date_debut' => 'd_ouverture',
                'date_fin' => 'd_fermeture',
            ],
            'id' => 'id',
        ],
        'CORPS' => [
            'order' => 1200,
            'source' => 'OCTOPUS',
            'orm_source' => 'orm_octopus',
            'orm_destination' => 'orm_default',
            'table_source' => 'V_EMC2_CORPS',
            'table_destination' => 'carriere_corps',
            'correspondance' => [
                'id' => 'id',
                'lib_court' => 'lib_court',
                'lib_long' => 'lib_long',
                'code' => 'code',
                'categorie' => 'categorie',
                'date_debut' => 'd_ouverture',
                'date_fin' => 'd_fermeture',
            ],
            'id' => 'id',
        ],
        'GRADE' => [
            'order' => 1300,
            'source' => 'OCTOPUS',
            'orm_source' => 'orm_octopus',
            'orm_destination' => 'orm_default',
            'table_source' => 'V_EMC2_GRADE',
            'table_destination' => 'carriere_grade',
            'correspondance' => [
                'id' => 'id',
                'lib_court' => 'lib_court',
                'lib_long' => 'lib_long',
                'code' => 'code',
                'date_debut' => 'd_ouverture',
                'date_fin' => 'd_fermeture',
            ],
            'id' => 'id',
        ],
        'EMPLOITYPE' => [
            'order' => 1400,
            'source' => 'OCTOPUS',
            'orm_source' => 'orm_octopus',
            'orm_destination' => 'orm_default',
            'table_source' => 'V_EMC2_EMPLOITYPE',
            'table_destination' => 'carriere_emploitype',
            'correspondance' => [
                'id' => 'id',
                'code' => 'code',
                'lib_court' => 'libelle_court',
                'lib_long' => 'libelle_long',
                'date_debut' => 'date_debut',
                'date_fin' => 'date_fin',
            ],
            'id' => 'id',
        ],

        'STRUCTURE_TYPE' => [
            'order' => 2000,
            'source' => 'OCTOPUS',
            'orm_source' => 'orm_octopus',
            'orm_destination' => 'orm_default',
            'table_source' => 'V_EMC2_STRUCTURE_TYPE',
            'table_destination' => 'structure_type',
            'correspondance' => [
                'id' => 'id',
                'code' => 'code',
                'libelle' => 'libelle',
                'description' => 'description',
            ],
            'id' => 'id',
        ],
        'STRUCTURE' => [
            'order' => 2100,
            'source' => 'OCTOPUS',
            'orm_source' => 'orm_octopus',
            'orm_destination' => 'orm_default',
            'table_source' => 'V_EMC2_STRUCTURE',
            'table_destination' => 'structure',
            'correspondance' => [
                'id' => 'id',
                'libelle_court' => 'libelle_court',
                'libelle_long' => 'libelle_long',
                'code' => 'code',
                'sigle' => 'sigle',
                'type_id' => 'type_id',
                'email_generique' => 'adresse_fonctionnelle',
                'date_ouverture' => 'd_ouverture',
                'date_fermeture' => 'd_fermeture',
                'parent_id' => 'parent_id',
                'niv2_id' => 'niv2_id',
            ],
            'id' => 'id',
        ],
        'AGENT' => [
            'order' => 3000,
            'source' => 'OCTOPUS',
            'orm_source' => 'orm_octopus',
            'orm_destination' => 'orm_default',
            'table_source' => 'V_EMC2_AGENT',
            'table_destination' => 'agent',
            'correspondance' => [
                'c_individu' => 'c_individu',
                'id' => 'id',
                'prenom' => 'prenom',
                'nom_usage' => 'nom_usage',
                'nom_famille' => 'nom_famille',
                'sexe' => 'sexe',
                'date_naissance' => 'date_naissance',
                'login' => 'login',
                'email' => 'email',
                't_contrat_long' => 't_contrat_long'
            ],
            'id' => 'c_individu',
        ],
        'STRUCTURE_RESPONSABLE' => [
            'order' => 8200,
            'source' => 'OCTOPUS',
            'orm_source' => 'orm_octopus',
            'orm_destination' => 'orm_default',
            'table_source' => 'V_EMC2_STRUCTURE_RESPONSABLE',
            'table_destination' => 'structure_responsable',
            'correspondance' => [
                'id' => 'id',
                'structure_id' => 'structure_id',
                'agent_id' => 'agent_id',
                'fonction_id' => 'fonction_id',
                'date_debut' => 'date_debut',
                'date_fin' => 'date_fin',
            ],
            'id' => 'id',
        ],
        'STRUCTURE_GESTIONNAIRE' => [
            'order' => 8200,
            'source' => 'OCTOPUS',
            'orm_source' => 'orm_octopus',
            'orm_destination' => 'orm_default',
            'table_source' => 'V_EMC2_STRUCTURE_GESTIONNAIRE',
            'table_destination' => 'structure_gestionnaire',
            'correspondance' => [
                'id' => 'id',
                'structure_id' => 'structure_id',
                'agent_id' => 'agent_id',
                'fonction_id' => 'fonction_id',
                'date_debut' => 'date_debut',
                'date_fin' => 'date_fin',
            ],
            'id' => 'id',
        ],
        'AGENT_AFFECTATION' => [
            'order' => 5100,
            'source' => 'OCTOPUS',
            'orm_source' => 'orm_octopus',
            'orm_destination' => 'orm_default',
            'table_source' => 'V_EMC2_AGENT_AFFECTATION',
            'table_destination' => 'agent_carriere_affectation',
            'correspondance' => [
                'id' => 'id',
                'structure_id' => 'structure_id',
                'agent_id' => 'agent_id',
                't_principale' => 't_principale',
                't_hierarchique' => 't_hierarchique',
                't_fonctionnelle' => 't_fonctionnelle',
                'quotite' => 'quotite',
                'date_debut' => 'date_debut',
                'date_fin' => 'date_fin',
            ],
            'id' => 'id',
        ],
        'AGENT_GRADE' => [
            'order' => 5100,
            'source' => 'OCTOPUS',
            'orm_source' => 'orm_octopus',
            'orm_destination' => 'orm_default',
            'table_source' => 'V_EMC2_AGENT_GRADE',
            'table_destination' => 'agent_carriere_grade',
            'correspondance' => [
                'id' => 'id',
                'structure_id' => 'structure_id',
                'agent_id' => 'agent_id',
                'corps_id' => 'corps_id',
                'grade_id' => 'grade_id',
                'correspondance_id' => 'correspondance_id',
                'emploitype_id' => 'emploitype_id',
                'date_debut' => 'd_debut',
                'date_fin' => 'd_fin',
            ],
            'id' => 'id',
        ],
        'AGENT_ECHELON' => [
            'order' => 5200,
            'source' => 'OCTOPUS',
            'orm_source' => 'orm_octopus',
            'orm_destination' => 'orm_default',
            'table_source' => 'V_EMC2_AGENT_ECHELON',
            'table_destination' => 'agent_carriere_echelon',
            'correspondance' => [
                'id' => 'id',
                'agent_id' => 'agent_id',
                'echelon' => 'echelon',
                'date_debut' => 'd_debut',
                'date_fin' => 'd_fin',
            ],
            'id' => 'id',
        ],
        'AGENT_QUOTITE' => [
            'order' => 5300,
            'source' => 'OCTOPUS',
            'orm_source' => 'orm_octopus',
            'orm_destination' => 'orm_default',
            'table_source' => 'V_EMC2_AGENT_QUOTITE',
            'table_destination' => 'agent_carriere_quotite',
            'correspondance' => [
                'id' => 'id',
                'agent_id' => 'agent_id',
                'quotite' => 'quotite',
                'date_debut' => 'd_debut',
                'date_fin' => 'd_fin',
            ],
            'id' => 'id',
        ],
        'AGENT_POSTE' => [
            'order' => 5500,
            'source' => 'OCTOPUS',
            'orm_source' => 'orm_octopus',
            'orm_destination' => 'orm_default',
            'table_source' => 'V_EMC2_AGENT_POSTE',
            'table_destination' => 'agent_poste',
            'correspondance' => [
                'id' => 'id',
                'agent_id' => 'agent_id',
                'code_poste' => 'code_poste',
                'libelle_poste' => 'intitule',
            ],
            'id' => 'id',
        ],
        'AGENT_STATUT' => [
            'order' => 5400,
            'source' => 'OCTOPUS',
            'orm_source' => 'orm_octopus',
            'orm_destination' => 'orm_default',
            'table_source' => 'V_EMC2_AGENT_STATUT',
            'table_destination' => 'agent_carriere_statut',
            'correspondance' => [
                'id' => 'id',
                'agent_id' => 'agent_id',
                'structure_id' => 'structure_id',
                'date_debut' => 'd_debut',
                'date_fin' => 'd_fin',
                't_titulaire' => 't_titulaire',
                't_cdi' => 't_cdi',
                't_cdd' => 't_cdd',
                't_administratif' => 't_administratif',
                't_enseignant' => 't_enseignant',
                't_chercheur' => 't_chercheur',
                't_vacataire' => 't_vacataire',
                't_doctorant' => 't_doctorant',
                't_detache_in' => 't_detache_in',
                't_detache_out' => 't_detache_out',
                't_heberge' => 't_heberge',
                't_dispo' => 't_dispo',
                't_emerite' => 't_emerite',
                't_retraite' => 't_retraite',
            ],
            'id' => 'id',
        ],
    ],
];
