<?php

use UnicaenStorage\Adapter\FilesystemStorageAdapter;
use UnicaenStorage\Adapter\S3StorageAdapter;

return [
    'fichier' => [
        'storage' => [
            /**
             * Tous les adapters de stockage disponibles, et leur config.
             */
            'adapters' => [
                FilesystemStorageAdapter::class => [
                    'root_path' => 'upload',
                ],
//                S3StorageAdapter::class => [
//                    'client' => [
//                        'end_point' => 'XXXXXX',
//                        'access_key' => 'XXXXXX',
//                        'secret_key' => 'XXXXXX',
//                    ],
//                    'root_path' => 'XXXXXX',
//                ],
            ],

            /**
             * Adapter de stockage activé (unique).
             */
            'adapter' => FilesystemStorageAdapter::class,
    //            'adapter' => S3StorageAdapter::class,
        ],
    ],

];