<?php
/**
 * Configuration locale du module UnicaenApp.
 *
 * If you have a ./config/autoload/ directory set up for your project, 
 * drop this config file in it and change the values as you wish.
 */
return array(
    'navigation'   => [
        'default' => [
            'home' => [
                'pages' => [
                    'apropos'         => ['sitemap'  => false,],
                    'contact'         => ['sitemap'  => false,],
                    'plan'         => ['sitemap'  => false,],
                    'mentions-legales'         => [
                        'label'    => _("Mentions légales"),
                        'title'    => _("Mentions légales"),
                        'uri'      => "http://www.unicaen.fr/acces-direct/mentions-legales/",
                        'class'    => 'ml',
                        'visible'  => false,
                        'footer'   => true,
                        'sitemap'  => false,
                        'resource' => 'controller/UnicaenApp\Controller\Application:mentions-legales',
                        'order'    => 1004,
                    ],
                    'informatique-et-libertes' => [
                        'label'    => _("Vie privée"),
                        'title'    => _("Vie privée"),
                        'uri'      => "http://www.unicaen.fr/acces-direct/informatique-et-libertes/",
                        'class'    => 'il',
                        'visible'  => false,
                        'footer'   => true,
                        'sitemap'  => false,
                        'resource' => 'controller/UnicaenApp\Controller\Application:informatique-et-libertes',
                        'order'    => 1005,
                    ],
                ],
            ],
        ],
    ],

    'unicaen-app' => [

        'app_infos' => [
            'contact' => ['mail' => "assistance-emc2@unicaen.fr", /*'tel' => "01 02 03 04 05"*/],
        ],

        /**
         * Mode maintenance (application indisponible)
         */
        'maintenance' => [
            // activation (true: activé, false: désactivé)
            'enable' => false,
            // liste blanche des adresses IP clientes non concernées
            'white_list' => [
//                ['127.0.0.1'],   // localhost
//                ['10.60.11.88'], // Bertrand
            ],
        ],
    ],
    'asset_manager' => array(
//        'caching' => array( // https://github.com/RWOverdijk/AssetManager/wiki/Caching
//            'default' => array(
//                'cache' => 'Apc',
//            ),
//        ),
    ),
);