<?php

return [
    'unicaen-ldap' => [
        'host' => 'ldap.XXXX.XX',
        'username' => "uid=XXXX,ou=system,dc=XXXXX,dc=fr",
        'password' => "XXXX",
        'baseDn' => "ou=people,dc=XXXXX,dc=fr",
        'bindRequiresDn' => true,
        //dé-commenter la ligne correspondant à votre situation
//        'accountFilterFormat' => "(&(objectClass=posixAccount)(supannAliasLogin=%s))",
//        'accountFilterFormat' => "(&(objectClass=posixAccount)(uid=%s))",
        'port' => 389,
    ],

    'unicaen-app' => [
        'ldap' => [
            'connection' => [
                'default' => [
                    'params' => [
                        'host' => 'ldap.unicaen.fr',
                        'username' => "uid=XXX,ou=system,dc=XXX,dc=fr",
                        'password' => "XXXX",
                        'baseDn' => "ou=people,dc=XXX,dc=fr",
                        'bindRequiresDn' => true,
                        'accountFilterFormat' => "(&(objectClass=posixAccount)(supannAliasLogin=%s))",
                        'port' => 389,
                    ]
                ]
            ],

            'dn' => [
                'UTILISATEURS_BASE_DN'                  => 'ou=people,dc=unicaen,dc=fr',
                'STRUCTURES_BASE_DN'                    => 'ou=structures,dc=unicaen,dc=fr',
            ],
            'filters' => [
                //dé-commenter la ligne correspondant à votre situation
//                'LOGIN_FILTER' => '(supannAliasLogin=%s)',
//                'LOGIN_FILTER' => '(uid=%s)',
                'FILTER_STRUCTURE_DN'		            => '(%s)',
                'FILTER_STRUCTURE_CODE_ENTITE'	        => '(supannCodeEntite=%s)',
            ],
        ],
    ],
];
